@use './partials' as *;
@use './components' as *;
@use './pages' as *;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
    @include spread-map($theme-map-light);
    font-size: 62.5%;
}

:root.light {
    @include spread-map($theme-map-light);
    font-size: 62.5%;
}


:root.dark {
    @include spread-map($theme-map-dark);
    font-size: 62.5%;
}

body {
    background-color: var(--bg);
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}